.main-header{
    
    width: 100%;
    background-color: gray;
    height: 350px;
    margin-bottom: 15px;
}

*{
    margin: 0;
    padding: 0;
}


.container {
    display: flex;
    /* gap: 30px;  */
    gap: 2%;
}

.section1{
    margin-top: 30px;
    width: 40%;
    margin-left: 8%;
    height: 600px;
    background-color: lightgray;
}

.section2{
    margin-top: 30px;
    width: 40%;
    height: 600px;
    background-color: lightgray;
}